<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Mystery Word</h1>
      <div class="guess-box">
        <p>You have guesses left</p>
      </div>
    </header>
    <section class="game-container">
      <div class="word-container">
        <ul>
          <li></li>
        </ul>
      </div>
      <div class="game-result"></div>
      <form class="" action="/" method="POST">
        <input type="submit" maxlength = "1" name="submit" value="" placeholder="Guess a letter">
      </form>

      <p>Letters guessed:</p>
    </section>
  </body>
</html>
