<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Mystery Word</h1>
      <div class="guess-box"></div>
    </header>
    <section class="game-container">
      <div class="word-container"></div>
      <div class="game-result"></div>
      <button type="submit" name="button">Make a guess</button>
      <p>Letters guessed:</p>
    </section>
  </body>
</html>
